* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background-color: #383838;
    /* border-bottom: 1px solid rgba(100, 114, 125, 0.5); */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* workspace having no active window */
#workspaces button.persistent {
    color: #888888;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    /* background-color: #3F3F3F; */
}

window#waybar.chromium {
    /* background-color: #000000; */
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #1c91ff;
}

#workspaces button {
    padding: 0 6px;
    background-color: transparent;
    color: #eeeeee;
}

/* #workspaces button:hover { */
/*     background: rgba(0, 0, 0, 0.2); */
/* } */

#workspaces button.active {
    /* background-color: #64727d; */
    /* box-shadow: inset 0 -2px #ffffff; */
    background-color: #1c91ff;
    color: #000000;
    padding: 0 4px;
    margin: inherit;
    /* padding: 0 4px; */
}

#workspaces button.urgent {
    /* background-color: #eb4d4b; */
}

#mode {
    /* background-color: #64727D; */
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 8px;
    color: #dddddd;
    font-size: 13px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    /* background-color: #64727D; */
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 2px;
}

#battery {
    /* background-color: #ffffff; */
}

#battery.charging,
#battery.plugged {
    /* background-color: #26A65B; */
}

@keyframes blink {
    from {
        color: #ff6666;
    }
    to {
        /* background-color: #ffffff; */
        color: #ffffff;
    }
}

#battery.critical:not(.charging) {
    /* background-color: #f53c3c; */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    /* background-color: #000000; */
}

#cpu {
    /* background-color: #2ecc71; */
}

#memory {
    /* background-color: #9b59b6; */
}

#disk {
    /* background-color: #964B00; */
}

#backlight {
    /* background-color: #90b1b1; */
}

#network {
    /* background-color: #2980b9; */
}

#network.disconnected {
    /* background-color: #f53c3c; */
    color: #916161;
}

#pulseaudio {
    /* background-color: #f1c40f; */
}

#pulseaudio.muted {
    /* background-color: #90b1b1; */
    color: #916161;
}

#wireplumber {
    /* background-color: #fff0f5; */
}

#wireplumber.muted {
    /* background-color: #f53c3c; */
}

#custom-media {
    /* background-color: #66cc99; */
    color: #ffffff;
    min-width: 100px;
}

#custom-media.custom-spotify {
    /* background-color: #66cc99; */
}

#custom-media.custom-vlc {
    /* background-color: #ffa000; */
}

#temperature {
    /* background-color: #f0932b; */
}

#temperature.critical {
    /* background-color: #eb4d4b; */
}

#tray {
    /* background-color: #2980b9; */
    margin-right: 50px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    /* background-color: #eb4d4b; */
}

#idle_inhibitor {
    /* background-color: #2d3436; */
}

#idle_inhibitor.activated {
    /* background-color: #ecf0f1; */
    color: #2d3436;
}

#mpd {
    /* background-color: #66cc99; */
    color: #ffffff;
}

#mpd.disconnected {
    /* background-color: #f53c3c; */
}

#mpd.stopped {
    /* background-color: #90b1b1; */
}

#mpd.paused {
    /* background-color: #51a37a; */
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    /* background-color: transparent; */
}
